<!-- /.bloc_3 -->
<div class="col-lg-3 col-md-6 col-xs-12">
  <div class="box-content bg-danger text-white">
    <div class="statistics-box with-icon">
      <i class="ico small fa fa-bug"></i>
      <p class="text text-white">FIXED BUG</p>
      <h2 class="counter">12564</h2>
    </div>
  </div>
  <!-- /.box-content -->
</div>
<!-- /.bloc_3 -->
