<!-- /.bloc_1 -->
<div class="col-lg-3 col-md-6 col-xs-12">
  <div class="box-content bg-success text-white">
    <div class="statistics-box with-icon">
      <i class="ico small fa fa-diamond"></i>
      <p class="text text-white">SUCCESS</p>
      <h2 class="counter">72943</h2>
    </div>
  </div>
  <!-- /.box-content -->
</div>
<!-- /.bloc_1 -->
