<!-- /.bloc_2 -->
<div class="col-lg-3 col-md-6 col-xs-12">
  <div class="box-content bg-info text-white">
    <div class="statistics-box with-icon">
      <i class="ico small fa fa-download"></i>
      <p class="text text-white">DOWNLOAD</p>
      <h2 class="counter">6382</h2>
    </div>
  </div>
  <!-- /.box-content -->
</div>
<!-- /.bloc_2 -->
